.overlay {
   position: absolute; 
   top: 0px;
   left: 0px;
   z-index: 10;
}

.videoInput {
    position: relative;
    top:0px;
    width: auto;
    height: auto;
    z-index: 1;
}

.gridBox{
    border: 1px;
    border-style: solid;
    border-color: black;
    width: 30px;
    max-width: 30px;
    height: 30px;
    max-height: 30px;
    line-height: 30px;
    text-align: center;
}