<div>
  <button #videoBtn id = "videoBtn"  (click)="startVideo(true)">Scan puzzle</button>
  <button [hidden]="videoRunning" onclick="document.getElementById('fileInput').click()">Select a photo</button>
  <button (click)="test()">Detect grid</button>
  <!-- <label class="btn" for="fileInput">Choose images to upload (PNG, JPG)</label> -->
  <input style="visibility:hidden;" (change)="readDataUrl($event)" #fileInput type="file" id="fileInput"
    name="fileInput" accept="image/*" />

</div>
<div>
  {{ocrResult}}
</div>
<canvas  #canvasInput id="canvasInput"></canvas>
<canvas  #canvasOutput id="canvasOutput"></canvas>
<div>



  <!-- <input [(ngModel)]="selRow" >Row
  <input [(ngModel)]="selCol" >Col -->
  <!-- <button (click)="showEl('grid')">Recognise grid</button>
  <button (click)="showEl('cell')">test</button> -->
  <!-- <button (click)="scan()">Scan puzzle</button> -->

  <div>
    <canvas hidden #elOutput id="elOutput"></canvas>

  </div>

  <!-- <div>
    <canvas  #canvasVideo id="canvasVideo"></canvas>
  </div> -->
  <!-- <div>
    <canvas #canvasVideoRaw id="canvasVideoRaw"></canvas>
  </div> -->

  <!-- <div *ngIf="showGrid">
    <div fxLayout="column">

      <div *ngFor="let row of rows">
        <div fxLayout="row">

          <div *ngFor="let content of gridContents |  slice: 0 + row * 9 : 9 + row * 9; let i = index ">
            <app-cell (cellSelected)="cellSelected($event)" (newValue)="setNewValue($event)"
              [cellOption]="gridContents[i + row * 9 ]" [killerInput]="isKillerInput"></app-cell>
          </div>



        </div>
      </div>

    </div>

  </div> -->


</div>





<div>



  <br>

  <!-- <button (click)="grabFrame()">Grab frame</button>
  <button (click)="stopVideo()">Stop video</button> -->
  <div class="videoInput">
    <video [hidden]="videoElementHidden"  #videoInput id="videoInput"    playsinline=true></video>
    <!-- <div >Some text</div> -->
    <div class="overlay">
      <canvas [hidden]="videoElementHidden" #canvasVideo id="canvasVideo"></canvas>
    </div>
    

  </div>
<div id="videoDiv"></div>

  <!-- <canvas class="overlay" #overlayCan id="overlayCan" height="240px" width="320px"></canvas> -->





</div>


<div *ngIf="showGrid">
  <div fxLayout="column">

    <div *ngFor="let row of rows">
      <div fxLayout="row">

        <div *ngFor="let content of gridContents |  slice: 0 + row * 9 : 9 + row * 9; let i = index ">
          <!-- <app-cell (cellSelected)="cellSelected($event)" (newValue)="setNewValue($event)"
            [cellOption]="gridContents[i + row * 9 ]" [killerInput]="isKillerInput"></app-cell> -->

          <div class="gridBox" [style.background-color]="backgroundColour(i , row)">{{gridContents[i + row *
            9].uniqueValue}}</div>
        </div>



      </div>
    </div>

  </div>

</div>
<canvas  #canvasTest id="canvasTest"></canvas>
<canvas  #canvasTest id="canvasTest1"></canvas>
{{logText}}
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<!-- <nav>
  <ul>
    <li><a [routerLink]="['sudoku.component.ts']" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    <li><a routerLink="AppComponent" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
  </ul>
</nav> -->
<!-- The routed views render in the <router-outlet>-->

<!-- <router-outlet></router-outlet> -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->