<div >
  <table cellpadding="0" cellspacing="0" width="0" border="0">
    <tr>
      <td>
        <canvas #canvasInput id="canvasInput"></canvas>
      </td>
      <td>
        <canvas #canvasOutput id="canvasOutput"></canvas>
      </td>
    </tr>
    <tr>
      <td>
        <div class="caption">Select photo <input (change)="readDataUrl($event)" #fileInput type="file" id="fileInput"
            name="file" accept="image/*" /></div>
      </td>
      <!-- <td>
        <div class="caption">canvasOutput</div>
      </td> -->
    </tr>
  </table>
  <button (click)="showEl('grid')">Recognise grid</button>
  <button (click)="test()">test</button>
  <button (click)="scan()">Scan puzzle</button>

  <div>
    <canvas  #elOutput id="elOutput"></canvas>
  </div>

  <div *ngIf="showGrid">
    <div fxLayout="column">

      <div *ngFor="let row of rows">
        <div fxLayout="row">

          <div *ngFor="let content of gridContents |  slice: 0 + row * 9 : 9 + row * 9; let i = index ">
            <app-cell (cellSelected)="cellSelected($event)" (newValue)="setNewValue($event)"
              [cellOption]="gridContents[i + row * 9 ]" [killerInput]="isKillerInput"></app-cell>
          </div>



        </div>
      </div>

    </div>

  </div>
  {{ocrResult}}

</div>





<div>



  <br>
  <button (click)="startVideo(true)">Start video</button>
  <button (click)="grabFrame()">Grab frame</button>
  <button (click)="stopVideo()">Stop video</button>
  
    <video hidden class="videoInput" #videoInput id="videoInput" playsinline=true></video>
    
      <!-- <canvas class="overlay" #overlayCan id="overlayCan" height="240px" width="320px"></canvas> -->
    
  



</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
